<h1>My Skills</h1>
<% @skills.each do |skill| %>
  <h3 id = "<%= skill.id %>id"><%= skill.id %>: <a class="container" href="/skills/<%= skill.id %>"><%= skill.title %></a></h3>
  <a href = "/skills/<%= skill.id %>">View Details</a><br />
  <a href = "/skills/<%= skill.id %>/edit">Edit</a>
  <form action="/skills/<%= skill.id %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete"/>
  </form>
<% end %>
